@import url(http://fonts.googleapis.com/css?family=Roboto);
.jumbotron{
  background-color: #ffffff;
}

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.register input[type=text], input[type=password],input[type=email]{
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
  }

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 13px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}

a[ng-click]{
    cursor: pointer;
}
.btn{
  padding: 12px;
}
.btn-default {
  background-color: #f8f8f8;
  color: #777;
  border-color: #f8f8f8;
}

.btn-default:hover {
    background-color: #f8f8f8;
    border-color: #f8f8f8;
    color: #777;
}

/*  ************************* */
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
.dropdown-toggle{cursor: pointer;}

/*regirsteration model*/
.col-md-offset-4 {
    margin-left: 0%;
}

.col-sm-offset-2 {
    margin-left: 8%;
}

.password_field input{
  height: 44px;
}

.btn-info {
  background-color: #4d90fe;
  border-color: #4d90fe;
  color: #fff;
}

.btn-info:hover {
  background-color: #4d90fe;
  border-color: #4d90fe;
  color: #fff;
}

.signup_form{ 
  background-color: #f5f5f5;
}
#signup_error_msg{
  height: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 5px;
  color: red;
}
#signup_server_error_msg{
  color: red;
}

/*forgot password*/
#forgot-password-modal .modal-dialog .col-md-offset-4 {
  margin-left: 8%;
}
#resend-confirm-email-modal .modal-dialog .col-md-offset-4 {
  margin-left: 8%;
}
#password_form{
  display: none;
}
.chng_pswd{
  float: right;
  font-size: 10px;
}
/*.panel-heading > h3 {
  float: left;
}
.panel-heading > button {
  margin-left: 49%;
}*/

.panel-info > .panel-heading {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    height: 36px;
}

#password_form > form > .form-group > .col-lg-7 > input {
    height: 25px;
}


/*datapicker*/
.ng-datepicker {
  position: absolute;
  z-index: 9999;
  width: 280px;
  background: #fff; 
  font-size: 12px; 
  color: #565a5c; 
  display: inline-block; 
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  margin: 0;
  padding: 0;
}

.ng-datepicker > .controls {
  width: 280px;
  display: inline-block;
  padding: 5px 0 0 0;
}

.ng-datepicker > .controls i {
  font-size: 25px;
  cursor: pointer;
}

.ng-datepicker > .controls > .left {
  width: 48px;
  display: inline-block;
  float: left;
  margin: 5px 0 0 3px;
}

.ng-datepicker > .controls > .left > i.prev-year-btn {
  float: left;
  display: block;
  font-size: 14px;
  opacity: 0.4;
}

.ng-datepicker > .controls > .left > i.prev-month-btn {
  float: left;
  margin: -5px 0 0 9px;
  display: block;
}

.ng-datepicker > .controls > span.date {
  width: 170px;
  text-align: center;
  font-size: 14px;
  color: #565a5c;
  font-weight: bold;
  float: left; 
  padding: 3px 0 0 0;
}

.ng-datepicker > .controls > .right {
  width: 35px;
  display: inline-block;
  float: right;
  margin: 5px 0 0 0;
}

.ng-datepicker > .controls > .right > i.next-year-btn {
  float: left;
  display: block;
  font-size: 14px;
  opacity: 0.4;
}

.ng-datepicker > .controls > .right > i.next-month-btn {
  float: left;
  margin: -6px 9px 0 0;
}

.ng-datepicker > .day-names {
  width: 280px;
  border-bottom: 1px solid #c4c4c4;
  display: inline-block;  
}

.ng-datepicker > .day-names > span {
  width: 39.7px;
  text-align: center;
  color: #82888a;
  float: left;
  display: block;
}

.ng-datepicker > .calendar {
  width: 280px;
  display: inline-block;
  margin: -3px 0 -4px -1px;
  padding: 0;
}

.ng-datepicker > .calendar > span > span.day {
  width: 40px;
  height: 35px;
  border-left: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  float: left;
  display: block;
  color: #565a5c;
  text-align: center;
  font-weight: bold;
  line-height: 35px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  cursor: pointer;
}

.ng-datepicker > .calendar > span:last-child > span.day {
  border-right: 1px solid #c4c4c4;
}

.ng-datepicker > .calendar > span > span.day.disabled {
  border-left: 1px solid transparent;
  cursor: default;
  pointer-events: none;
}

.ng-datepicker > .calendar > span > span.day:hover {
  background: #2e6da4;
  color: #fff;
}
.ng-datepicker-input{
  width: 80%;
}
/*/datepicker*/

.login_err{
  padding: 0px;
  color: #a94442;
}

.separator {
    border-right: 1px solid #dfdfe0; 
}
.icon-btn-save {
    padding-top: 0;
    padding-bottom: 0;
}
.input-group {
    margin-bottom:10px; 
}
.btn-save-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0,0,0,0.15);
    border-radius: 3px 0 0 3px;
}
.reset_password_form{padding-left:40px;padding-right:40px;}
.confirmation_panel{border-color:#d9edf7; margin-bottom:50px !important;width: 71%; margin-left:30%;}
.password_confirmation-heading{background-color: #d9edf7 !important;border-color: #BCE8F1!important;color: #31708F !important;}
.overlay{
  /*width: 15%;*/
  /* overflow: overlay; */
  position: absolute;
  /*top: 40%;*/
  /*left: 40%;*/
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  /*position: absolute;*/
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*display: none;*/
}
.img_loader{
  width: 15%;
  top: 40%;
  left: 40%;
  position: absolute;
}
.form-signin-heading,
  .checkbox {
    margin-bottom: 16px;
  }

  .checkbox {
    font-weight: normal;
  }
  .check input[type="checkbox"]{
    width: 22px;
    height: 22px;
    float: left;
  }
  .remember-lable{
    /*padding-left:30px; */
    color:#808080; 
    margin-top:5px;
    font-weight: normal;
  }
  .errorMsg{
    list-style: none;
    color: #a94442;
  }
