$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}


//colors
$color_alto_approx: rgb(221, 221, 221);

.user-row {
  margin-bottom: 14px;
  &:last-child {
    margin-bottom: 0;
  }
}
.dropdown-user {
  margin: 13px 0;
  padding: 5px;
  height: 100%;
  &:hover {
    cursor: pointer;
  }
}
.toppad {
  margin-top: 20px;
}
.table-user-information > tbody > tr {
  border-top: 1px solid $color_alto_approx;
  &:first-child {
    border-top: 0;
  }
  > td {
    border-top: 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
   /* max-width: 730px;*/
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.ng-binding > p{margin:-20px 56px 10px; paading-left:3px;}
.testing > div{margin:-20px 56px 10px !important; paading-left:3px important;}
.ng-scope .ng-binding > div{margin:0px -2px 10px; paading-left:3px;}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
@media screen and (min-width: 768px){
.form-horizontal .control-label {
    text-align:left !important;
    margin-bottom: 0;
    padding-top: 7px;
}
}
.form-group .col-lg-8 >input{width:52%;}
.form-group .col-md-8 >input{width:52%;}
.panel{margin-bottom:0px !important;}
.test1 >h1 {
    display: inline-block;
    font-weight: normal;
    font-size: 36px;
    padding:3px 3px 3px 6px;
    background:#f2efe9;
}
.social_icons > a{padding:10px 15px 15px;}
.linkedin{background-color:#428bca; padding-top:5px; padding-bottom:5px; color:white;margin-bottom:10px;width:60%;}
.facebook{background-color:#3d599a; padding-top:5px; padding-bottom:5px; color:white;margin-bottom:10px;width:60%;}
.twitter{background-color:#45b0e4; padding-top:5px; padding-bottom:5px; color:white;margin-bottom:10px;width:60%;}
.google{background-color:#df4c32; padding-top:5px; padding-bottom:5px; color:white;margin-bottom:10px;width:60%;}
.font_i{color:white;  padding-right:10px;}
.social_icons{text-align:center; padding-top: 10px;}
.jumbotron .home_style1{font-weight: bold !important;
font-size: 47px !important;
 font-style:italic;}
 .ng-datepicker-input{width:52%;}