<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/custom.css">
    <!-- endbuild -->
  </head>
  <body ng-app="angularjsApp" id="appBody">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header" style="border:0px;">
      <div class="navbar navbar-default" role="navigation" style="">
        <div class="container" style="">
          <div class="navbar-header" style="float:left;">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">Admin Static Content</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse" style="float:right;">
            <ul class="nav navbar-nav" ng-repeat="category in allCategories.categories">
              <li dropdown="">
                <a href="" class="dropdown-toggle" dropdown-toggle id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{category.name}}
                  <b class="caret"></b>
                </a>
                <tree tree="category"></tree>

              </li>
            </ul>

            <ul class="nav navbar-nav">
              <!-- <li ng-repeat="category in allCategories.categories"> -->
                <!-- <div class="dropdown" >
                <button class="btn btn-default dropdown-toggle ng-cloak" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  {{category.name}}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" >
                  <li class="dropdown-submenu" ng-repeat="subcategory in category.sub_categories" ng-if="category.sub_categories.length > 0">
                    <a tabindex="-1" ng-click="" ng-bind="subcategory.name"></a>
                    <ul class="dropdown-menu">
                      <li ng-repeat="page in subcategory.pages">
                        <a tabindex="-1" href="#/content/{{subcategory.name}}/{{page.name}}" ng-bind="page.name"></a>
                      </li>
                    </ul>
                  </li>
                  <li ng-if="category.pages.length > 0" ng-repeat="page in category.pages">
                    <a href="#/content/{{category.name}}/{{page.name}}" ng-bind="page.name"></a>
                  </li>
                </ul>
                </div> -->
              <!-- </li> -->
                <li>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Faqs
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li ng-repeat = "faq in allfaqs.faq_categories">
                        <a href="#/faqs/{{faq.name}}" ng-bind="faq.name"></a>
                      </li>
                    </ul>
                  </div>
                </li>
              <li><a ng-href="#/about">About</a></li>
              <li ng-if='current_user'><a ng-href="#/profile" class="ng-cloak">{{current_user.first_name}}&nbsp{{current_user.last_name}}</a></li>
              <li ng-if='current_user'><a ng-href="#/" ng-click='logout()'>Logout</a></li>
              <li ng-if="!current_user"><a href="#/" data-toggle="modal" data-target="#login-modal">Login</a></li>
            </ul>
            
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="alert alert-success alert-dismissible" role="alert" style = "display:none;" id="alert_msg">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p id="msg_box">We have send you a mail with reset password link. Please check your mail.</p>
        <!-- Better check yourself, you're not looking too good. -->
      </div>
    <div ng-view="">
    </div>
    </div>

    <div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
      </div>
    </div>

    <!-- login model -->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="loginmodal-container">
          <h1>Login to Your Account</h1><br>
           <div class="alert login_err" role="alert" id ="error_msg" style="display:none"></div>
          <form ng-submit='login(user)'>
            <input type="text" name="user" placeholder="Username" ng-model="user.user.login">
            <input type="password" name="pass" placeholder="Password" ng-model="user.user.password">
            <input type="submit" name="login" class="login loginmodal-submit" value="Login">
          </form>
          <div class="login-help">
            <a href="" style="color:#428bca;" ng-click="showRegisterModel()">New User Register</a><span style="float:right;"><a style="color:#235cb5;" ng-click="showforgotpasswordmodel()">Forgot Password ?</a></span>
           <br />
            <div class="social_icons">
              <p style="color:#428bca;">Or Sign In Using!</p>
               <a ng-click="authenticate('linkedin')"  style="color:#428bca;padding-left: 13px;"><i class="fa fa-lg fa-linkedin " ></i></a>
               <a ng-click="authenticate('facebook')" style="color:#428bca;" ><i class="fa fa-lg fa-facebook " ></i> </a>
               <a ng-click="authenticate('twitter')" style="color:#428bca;" ><i class="fa fa-lg fa-twitter " ></i> </a>
               <a ng-click="authenticate('google')" style="color:#428bca;" ><i class="fa fa-lg fa-google "></i></a>
            </div>

          </div>
          <!-- <div class="login-help">
            <a href="#">Register</a> - <a href="#">Forgot Password</a>
            <br /><p style="color:#428bca;">Don't have an account?Sign Up!</p>
            <div class="social_icons">
               <a ng-click="authenticate('linkedin')" class="linkedin" style="color:white;"><i class="fa fa-lg fa-linkedin font_i" ></i>Sign In with Linkedin</a>
               <br>
               <a ng-click="authenticate('facebook')" style="color:white;" class="facebook"><i class="fa fa-lg fa-facebook font_i" ></i> Sign In with Facebook</a>
               <br>
               <a ng-click="authenticate('twitter')" style="color:white;" class="twitter"><i class="fa fa-lg fa-twitter font_i" ></i> Sign In with Twitter</a>
               <br>
               <a ng-click="authenticate('google')" style="color:white;" class="google"><i class="fa fa-lg fa-google-plus font_i"></i>Sign In with Google</a>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <!-- /login model -->

    <!-- Registration model -->
    <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="container">
          <div class="row centered-form">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Register<small>It's free!</small></h3>
                </div>
                <div class="panel-body signup_form">
                  <form role="form" ng-submit='signUp(registerUser)'>
                    <div class="" role="alert" id ="signup_server_error_msg" style="display:none">
                      <li ng-repeat="(key,value) in registerErrors">{{key}} {{value[0]}}</li>
                    </div>
                    <div class="" role="alert" id ="signup_error_msg" style="display:none"></div>
                    <div class="row">
                      <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                          <input type="text" ng-model="registerUser.user.first_name" class="form-control input-sm" placeholder="First Name">
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                          <input type="text" ng-model="registerUser.user.last_name" class="form-control input-sm" placeholder="Last Name">
                        </div>
                      </div>
                    </div>
                    
                     <div class="form-group">
                      <input type="text" ng-model="registerUser.user.username" class="form-control input-sm" placeholder="Username">
                    </div> 

                    <div class="form-group">
                      <input type="email" ng-model="registerUser.user.email" class="form-control input-sm" placeholder="Email Address">
                    </div>

                    <div class="row">
                      <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group password_field">
                          <input type="text" ng-model="registerUser.user.password" class="form-control input-sm" placeholder="Password">
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group password_field">
                          <input type="text" ng-model="registerUser.user.password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
                        </div>
                      </div>
                    </div>
                    <input type="submit" value="Register" class="btn btn-info btn-block">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Registration model -->

    <!-- Forgot password model -->
    <div class="modal fade" id="forgot-password-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="container">
    
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                          <h3><i class="fa fa-lock fa-4x"></i></h3>
                          <h2 class="text-center">Forgot Password?</h2>
                          <p>You can reset your password here.</p>
                          <div class="" role="alert" id ="forgot_server_error_msg" style="display:none">
                            <li>{{invalid_email[0]}}</li>
                          </div>
                            <div class="panel-body">
                              <form class="form" ng-submit="forgotPassword(forgotpass)">
                                <fieldset>
                                  <div class="form-group">
                                    <div class="input-group">
                                      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                      
                                      <input id="emailInput" placeholder="email address" ng-model="forgotpass.user.email" class="form-control" type="email" oninvalid="setCustomValidity('Please enter a valid email address!')" onchange="try{setCustomValidity('')}catch(e){}" required="">
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <input class="btn btn-lg btn-primary btn-block" value="Send My Password" type="submit">
                                  </div>
                                </fieldset>
                              </form>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       
    </div>
</div>
    </div>
    <!-- /Forgot password model -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/ngDatepicker/src/js/ngDatepicker.js"></script>
    <script src="bower_components/satellizer/satellizer.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/localstorage.js"></script>
        <script src="scripts/services/secureServices.js"></script>
        <script src="scripts/services/credentialStore.js"></script>
        <script src="scripts/services/tokenInjector.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/users.js"></script>
        <script src="scripts/controllers/categories.js"></script>
        <script src="scripts/controllers/page.js"></script>
        <script src="scripts/controllers/faq.js"></script>
        <script src="scripts/directives/tree.js"></script>
        <!-- endbuild -->
</body>
</html>
