<div class="container">
      <div class="row">
      <!-- <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
            <hr><a class="btn btn-default pull-right" ng-href="#/editprofile"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
      </div> -->
        <div class="col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title" style="float:left;"> Edit User Profile</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12 " >
                  <form class="form-horizontal col-md-12" name="form" novalidation>
                    <div class="form-group">
          <label class="col-lg-5 control-label"><span class="text-muted">First Name:</span> </label>
          <div class="col-lg-7">
            <input type="text" ng-model="user.first_name" value="{{user.first_name}}" ng-pattern="VALID_FULL_NAME_REGEX" ng-maxlength="20" required name="first_name">
            <span style="color:red" ng-show="form.first_name.$dirty && form.first_name.$invalid">
              <p class="help-block" ng-show="form.first_name.$error.maxlength">Fristname is too long.</p>
              <p class="help-block" ng-show="form.first_name.$error.required">Your Firstname is required.</p>
              <p class="help-block" ng-show="form.first_name.$error.pattern">Firstname is invalid.</p>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-5 control-label"><span class="text-muted">Last Name:</span></label>
          <div class="col-lg-7">
            <input type="text" ng-model="user.last_name" value="{{user.last_name}}" name="last_name" ng-pattern="VALID_FULL_NAME_REGEX" required>
            <span style="color:red" ng-show="form.last_name.$dirty && form.last_name.$invalid">
              <p class="help-block" ng-show="form.last_name.$error.maxlength">Lastname is too long.</p>
              <p class="help-block" ng-show="form.last_name.$error.required">Your Lastname is required.</p>
              <p class="help-block" ng-show="form.last_name.$error.pattern">Lastname is invalid.</p>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-5 control-label"> <span class="text-muted">Gender:</label>
          <div class="col-lg-7">
            <select ng-model="user.gender" style="width:80%;">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-5 control-label"><span class="text-muted">Alternate Email Address:</span></label>
          <div class="col-lg-7">
            <input type="text" ng-model="user.alternate_email_address" value="{{user.alternate_email_address}}" ng-pattern="VALID_EMAIL_REGEX " name="email">
            <span style="color:red" ng-show="form.email.$dirty && form.email.$invalid">
              <p class="help-block" ng-show="form.email.$error.pattern">Email is invalid.</p>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-5 control-label"><span class="text-muted">Birth date:</span></label>
          <div class="col-lg-7">
            <ng-datepicker locale="sl" format="DD/MM/YYYY" view-format="DD/MM/YYYY" ng-model="user.dob" placeholder="Pick a date" class="dob"></ng-datepicker>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-5 control-label"> <span class="text-muted">Phone:</span></label>
          <div class="col-md-7">
            <input type="text" ng-model="user.phone_number" value="{{user.phone_number}}" ng-pattern="VALID_PHONE_NUMBER_REGEX" ng-maxlength="20" min-length="10" name="phone">
            <span style="color:red" ng-show="form.phone.$dirty && form.phone.$invalid">
              <p class="help-block" ng-show="form.phone.$error.maxlength">Phone no is too long.</p>
              <p class="help-block" ng-show="form.phone.$error.minlength">Phone no is too short.</p>
              <p class="help-block" ng-show="form.phone.$error.pattern">Phone is invalid.</p>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-5 control-label"><span class="text-muted">Alternate Phone Number:</span></label>
          <div class="col-md-7">
            <input type="text" ng-model="user.alternate_phone_number" value="{{user.alternate_phone_number}}" ng-pattern="VALID_PHONE_NUMBER_REGEX" ng-maxlength="20" min-length="10" name="phone_name">
            <span style="color:red" ng-show="form.phone_name.$dirty && form.phone_name.$invalid">
              <p class="help-block" ng-show="form.phone_name.$error.maxlength">Phone no is too long.</p>
              <p class="help-block" ng-show="form.phone.$error.pattern">Phone is invalid.</p>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-5 control-label"><span class="text-muted">Address 1:</span></label>
          <div class="col-md-7">
            <input type="text" ng-model="user.address1" value="{{user.address1}}">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-5 control-label"><span class="text-muted">Address 2:</span></label>
          <div class="col-md-7">
            <input type="text" ng-model="user.address2" value="{{user.address2}}">
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-5 control-label"><span class="text-muted">Country:</span></label>
          <div class="col-md-7">
            <select  ng-change="getCountryStates(user.country_hash)" ng-options="country.name for country in countries track by country.name" ng-model="user.country_hash" style="width:80%;"></select>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-5 control-label"><span class="text-muted">State:</span></label>
          <div class="col-md-7">
            <select ng-model="user.state_hash"  ng-options="state.name for state in states track by state.name" style="width:80%;" ></select>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-5 control-label"> <span class="text-muted">Zip:</span></label>
          <div class="col-md-7">
            <input type="text" ng-model="user.zip_code" value="{{user.zip_code}}" ng-pattern="VALID_ZIP_REGEX " ng-maxlength="10" name="zip">
            <span style="color:red" ng-show="form.zip.$dirty && form.zip.$invalid">
              <p class="help-block" ng-show="form.zip.$error.maxlength">Phone no is too long.</p>
              <p class="help-block" ng-show="form.zip.$error.pattern">zip  is invalid.</p>
            </span>
          </div>
        </div>
        
        <div class="form-group">
          <div class="col-md-12">
            <hr><button class="btn btn-primary " ng-click="savedetails(user)" type="submit" ng-disabled="form.$invalid"><i class="glyphicon glyphicon-user"></i> Update</button>
          </div>
        </div>
        
                  </form>
                </div>
            
          </div>
        </div>
      </div>
    </div>  
