<div class="container">
    <h1 style="text-align:center;">Edit User Profile</h1>
    <hr>
  <div class="row">
      <!-- left column -->
      <!-- <div class="col-md-3">
        <div class="text-center">
          <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
          <h6>Upload a different photo...</h6>
          
          <input type="file" class="form-control">
        </div>
      </div> -->
      
      <!-- edit form column -->
        <div class="col-md-9 personal-info">
        <!-- <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div> --> 
        


        <form class="form-horizontal col-md-12" style="left:45%;"  name="myForm" novalidate>
          <div class="form-group" >
            <label class="col-lg-3 control-label"><span class="text-muted" >First Name:</span> </label>
            <div class="col-lg-8">
              <input type="text" ng-model="user.first_name" value="{{user.first_name}}" name="first_name" ng-pattern ="/^[a-zA-Z0-9]*$/" required/>
              <span style="color:red" ng-show="myForm.first_name.$dirty && myForm.first_name.$invalid">
                <span ng-show="myForm.first_name.$error.required">Username is required.</span>
                <span ng-show="myForm.first_name.$error.first_name">Username is Invalid.</span>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label"><span class="text-muted">Last Name:</span></label>
            <div class="col-lg-8">
              <input type="text" ng-model="user.last_name" value="{{user.last_name}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label"> <span class="text-muted">Gender:</label>
            <div class="col-lg-8">
             <select ng-model="user.gender" style="width:52%;">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label"><span class="text-muted">Alternate Email Address:</span></label>
            <div class="col-lg-8">
              <input type="text" ng-model="user.alternate_email_address" value="{{user.alternate_email_address}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label"><span class="text-muted">Birth date:</span></label>
            <div class="col-lg-8">
                <ng-datepicker locale="sl" format="DD/MM/YYYY" view-format="DD/MM/YYYY" ng-model="user.dob" placeholder="Pick a date" class="dob">
                  </ng-datepicker>
              </div>
            </div>
          <div class="form-group">
            <label class="col-md-3 control-label"> <span class="text-muted">Phone:</span></label>
            <div class="col-md-8">
              <input type="text" ng-model="user.phone_number" value="{{user.phone_number}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"><span class="text-muted">Alternate Phone Number:</span></label>
            <div class="col-md-8">
              <input type="text" ng-model="user.alternate_phone_number" value="{{user.alternate_phone_number}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"><span class="text-muted">Address 1:</span></label>
            <div class="col-md-8">
             <input type="text" ng-model="user.address1" value="{{user.address1}}">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label"><span class="text-muted">Address 2:</span></label>
            <div class="col-md-8">
             <input type="text" ng-model="user.address2" value="{{user.address2}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"><span class="text-muted">Country:</span></label>
            <div class="col-md-8">
             <select  ng-change="getCountryStates(user.country_hash)" ng-options="country.name for country in countries track by country.name" ng-model="user.country_hash" style="width:52%;"></select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"><span class="text-muted">State:</span></label>
            <div class="col-md-8">
             <select ng-model="user.state_hash"  ng-options="state.name for state in states track by state.name" style="width:52%;" ></select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"> <span class="text-muted">Zip:</span></label>
            <div class="col-md-8">
             <input type="text" ng-model="user.zip_code" value="{{user.zip_code}}">
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-8">
              <hr><button class="btn btn-primary " ng-click="savedetails(user)" ng-disabled="myForm.first_name.$dirty && myForm.first_name.$invalid"><i class="glyphicon glyphicon-user"></i> Update</button>
            </div>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>