<!-- <div ng-repeat= "faq in faqs">
	<p style="font-style:bold;">{{faq.question}}</p>
	<p>{{faq.answer}}</p>
</div> -->
<div class="row" style = "margin: 2% 0% 3% 0%;">
  <div class="col-lg-12 text-center header-img">
    <h3 class = "section-heading">Frequently Asked Questions</h3>
  </div>
</div>

<section id = "team" class = "bg-light-gray" style = "padding:0;">
  <div class = "container" >
    <div class = "row " style = "margin-top: 5%; margin-bottom: 5%">
      <div ng-repeat= "faq in faqs">
        <div class = " container">
            <div class = "row ">
              <div class = " col-md-12 ">
                  <div class = "panel panel-default">
                    <div class = "panel-heading dropdown" id = "{{faq.id}}">
                      <span style="font-weight:bold;font-size:12px;">QUESTION:</span><span class="cmt_button11" tabindex="-1" id = "{{faq.id}}" ng-click="toggle({{faq.id}})"><span style="padding-left:3px;">{{faq.question}}</span></span>
                      <div   id="div_{{faq.id}}">
                        <span style="font-weight:bold;font-size:12px;">ANSWER:</span><span style=""><span ng-bind-html="faq.answer" class="testing"></span></span>
                      </div>
                    </div>
                   </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

