{{msg}}
<div class="collapse navbar-collapse" id="js-navbar-collapse">
  <ul class="nav navbar-nav">
    <li ng-if="current_user" ng-repeat="category in subcatgories.category">
      <a  ng-click="getpages(category.name)">{{category.name}}</a>
    </li>
  </ul>
</div>

<div class="collapse navbar-collapse" id="js-navbar-collapse">
  <ul class="nav navbar-nav">
    <li ng-if="current_user" ng-repeat="page in allpages.pages">
      <a  >{{page.name}}</a>
    </li>
  </ul>
</div>
<div class="jumbotron " >
  <p class="home_style1">Hello {{current_user.first_name}}{{" "}}{{current_user.last_name}}</p>
  <p class="lead" style="font-style:italic;">
    <img src="images/yeoman1.jpeg" alt="I'm Yeoman"><br>
  Welcome To Our Website!
  </p>
  <p class="home_style1" >It's Nice To See You</p>
</div>


