<br>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 lead">User profile<hr></div>
          </div>
          <div class="row">
			<div class="col-md-4 text-center">
              <img class="img-circle avatar avatar-original" style="-webkit-user-select:none; 
              display:block; margin:auto;" src="http://robohash.org/sitsequiquia.png?size=120x120">
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <h1 class="only-bottom-margin">{{userprofile.data.first_name}}&nbsp{{userprofile.data.last_name}}</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <span class="text-muted">Email:</span> {{userprofile.data.email}}<br>
                  <span class="text-muted">Birth date:</span> {{userprofile.data.dob}}<br>
                  <span class="text-muted">Gender:</span> {{userprofile.data.gender}}<br><br>
                  <small class="text-muted">Created: {{userprofile.data.created_at}}</small>
                </div>
                <div class="col-md-6">
                  <div class="activity-mini">
                    <i class="glyphicon glyphicon-comment text-muted"></i> 500
                  </div>
                  <div class="activity-mini">
                    <i class="glyphicon glyphicon-thumbs-up text-muted"></i> 1500
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr><a class="btn btn-default pull-right" ng-href="#/editprofile"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>