<div class="container">
      <div class="row">
      <!-- <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
            <hr><a class="btn btn-default pull-right" ng-href="#/editprofile"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
      </div> -->
        <div class="col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title" style="float:left;">User Profile</h3>
              <a class="chng_pswd" ng-click="showDiv()" href="" >Change Password</a>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12 personal-info" id="password_form" style="border-bottom: 1px solid #dddddd;">
                  <div class="" role="alert" id ="chngpswd_error_msg" style="display:none"></div>
                  <form class="form-horizontal col-md-12" name="passwordForm"   novalidate>
                    <div class="form-group" >
                      <label class="col-lg-5 control-label"><span class="text-muted" >Old Password:</span> </label>
                      <div class="col-lg-7">
                        <input type="password" ng-model="userData.existing_password" name="existing_password" required/></br>
                        <span  ng-show="passwordForm.existing_password.$dirty && passwordForm.existing_password.$invalid">
                          <span ng-show="passwordForm.existing_password.$error.required">Old password is required.</span>
                        </span>
                      </div>
                    </div>
                    <div class="form-group" >
                      <label class="col-lg-5 control-label"><span class="text-muted" >New Password:</span> </label>
                      <div class="col-lg-7">
                        <input type="password" ng-model="userData.user.password" name="password" required/></br>
                        <span ng-show="passwordForm.password.$dirty && passwordForm.password.$invalid ">
                          <span ng-show="passwordForm.password.$error.required">New Password is required.</span>
                        </span>
                      </div>
                    </div>
                    <div class="form-group" >
                      <label class="col-lg-5 control-label"><span class="text-muted" >Confirm Password:</span> </label>
                      <div class="col-lg-7">
                        <input type="password" ng-model="userData.user.password_confirmation" name="password_confirmation" required/></br>
                        <span ng-show="passwordForm.password_confirmation.$dirty && passwordForm.password_confirmation.$invalid">
                          <span ng-show="passwordForm.password_confirmation.$error.required">Confirm Password is required.</span>
                        </span>
                      </div>
                    </div> 
                    <div class="form-group">
                      <div class="col-md-8">
                        <button class="btn btn-primary" ng-click="changePassword(userData)" ng-disabled="passwordForm.$invalid"><i class="glyphicon glyphicon-user"></i> Update</button>
                      </div>
                      </div>
                  </form>
                </div>
            <div class=" col-md-12 test1">
           <!--  <h1 class="col-md-12">{{user.first_name}}&nbsp{{user.last_name}}</h1> -->
                
                  <table class="table table-user-information col-md-12">
                 <!--    <h1>{{user.first_name}}&nbsp{{user.last_name}}</h1> -->
                    <tbody>
                      <tr>
                        <td> <span class="text-muted">FirstName:</span></td>
                        <td>{{user.first_name}}</td>
                      </tr> 
                      <tr>
                        <td> <span class="text-muted">LastName:</span></td>
                        <td>{{user.last_name}}</td>
                      </tr>
                      <tr>
                        <td> <span class="text-muted">Email:</span></td>
                        <td>{{user.email}}</td>
                      </tr>
                      <tr>
                        <td><span class="text-muted">Birth date:</span></td>
                        <td>{{user.dob}}</td>
                      </tr>
                      <tr>
                        <td><span class="text-muted">Gender:</span></td>
                        <td>{{user.gender}}</td>
                      </tr>
                        <tr>
                        <td><span class="text-muted">Phone:</span> </td>
                        <td>{{user.phone_number}}</td>
                      </tr>
                      <tr>
                        <td><span class="text-muted">Alternate Phone:</span></td>
                        <td>{{user.alternate_phone_number}}</td>
                      </tr>
                        <td><span class="text-muted">Address 1:</span> </td>
                        <td>{{user.address1}}</td>
                           
                      </tr>
                      <tr>
                        <td> <span class="text-muted">Address 2:</span></td>
                        <td> {{user.address2}}</td>
                      </tr>

                      <tr>
                        <td><span class="text-muted">Zip:</span></td>
                        <td>{{user.zip_code}}</td>
                      </tr>

                      <tr>
                        <td><span class="text-muted">Country:</span> </td>
                        <td>{{user.country_hash}}</td>
                      </tr>

                      <tr>
                        <td><span class="text-muted">State:</span></td>
                        <td>{{user.state_hash}}</td>
                      </tr>
                     
                    </tbody>
                  </table>
                </div>
            </div>
                 <div class="panel-footer">
                        <span class="">
                            <a class="btn btn-sm btn-warning " ng-href="#/editprofile"><i class="glyphicon glyphicon-edit"></i></i> Edit</a>
                            <!-- <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a> -->
                        </span>
                    </div>
            
          </div>
        </div>
      </div>
    </div>  
